body {
    background-color: #000;
    color: #ddd
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr
}

a:visited,
a:active,
a:link,
a:hover {
    color: #ccc;
}

.blue {
    color: #77F
}

.green {
    color: lightgreen
}

.red {
    color: red;
}