body {
    background-color: #000;
    color: #ddd
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr
}

a:visited,
a:active,
a:link,
a:hover {
    color: #ccc;
}

.blue {
    color: #77F
}

.green {
    color: lightgreen
}

.red {
    color: red;
}

li {
    padding-left: 1ch;
}

h2 {
    color: #0E6FC9
}

.quests li::marker {
    content: ">";
    color: #D2228C
}

.links li::marker {
    content: "-";
    color: #0E6FC9
}