@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.container {
background: linear-gradient(341deg, #ce3921, #c12799, #274cc1, #27c13a, #c2f00c);
background-size: 1000% 1000%;

-webkit-animation: BackgroundAnimation 11s ease infinite;
-moz-animation: BackgroundAnimation 11s ease infinite;
animation: BackgroundAnimation 11s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes BackgroundAnimation {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
